<label for="serverName">Server Name</label>
<!-- <input
type="text"
class="form-control"
(input)="onUpdateServerName($event)"> -->
<input
type="text"
id="serverName"
class="form-control"
[(ngModel)]="serverName">
<button class="btn btn-primary"
[disabled]="!allowNewServer"
(click)="onCreateServer()">Add Server</button>
<p *ngIf="serverCreated; else noServer">Server was created, named: {{serverName}}</p>
<ng-template #noServer>
    <p>No server was created</p>
</ng-template>
<app-server *ngFor="let server of servers">
</app-server>
<input
type="text"
class="form-control"
[(ngModel)]="userName">
<button class="btn btn-primary"
[disabled]="!userName.length"
(click)="onCreateUser()">Add User</button>
<p>{{userCreationStatus}}</p>
<hr />
<button class="btn btn-primary"
(click)="toggleDetails()">Display Details</button>
<p *ngIf="showDetails">This is the secret password</p>
<ul>
    <li *ngFor="let log of detailsLog; let i = index"
        [ngClass]="{greater: i >= 4}"
        [ngStyle]="{'backgroundColor':getColor(i)}" >
        <span>{{log}}</span>
    </li>
</ul>
